body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

#top-part {
  display: flex;
}

#month-nav {
  display: flex;
}

#date {
  display: flex;
  text-align: center;
}

#color-info {
  display: flex;
  gap: 1rem;
}

.numbers {
  margin: 1rem 1rem 0rem 1rem;
}

.month-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.format {
  width: 10%;
  display: flex;
  justify-content: center;
}

#arrow-left {
  margin-top: 1.1rem;
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#arrow-right {
  margin-top: 1.1rem;
  margin-left: 1rem;
  width: 20px;
  height: 20px;
}
